.svn/
.vs/
.vscode/
bin/
obj/
packages/
*.testsettings
*.suo
*.user


SecureData.txt
shelltwit/private.twit.data
shelltwit/BuildMergeDeploy.bat
WebTester/
shelltwit_tester/
shelltwitcore/*.data
shelltwit/output
shelltwit/shelltwit.nrproj

PortabilityAnalysis*.html
shelltwit.sln
BitlyHelper/BitlyHelper.csproj
shelltwitlib/shelltwitlib.csproj
shelltwit/shelltwit.csproj
